html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page {
  width: 1520px;
  margin: auto;
}

@media screen and (max-width: 1600px) {
  .page {
    width: 96%;
  }
  footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

header {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
  margin-top: 60px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  font-size: 30px;
  justify-content: flex-start;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  height: 25px;
}

main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.boutton1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.bouton1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: white;
  display: flex;
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.6vw;
}

.photo1 {
  width: 15%;
}

.image {
  width: 50%;
  position: relative;
  line-height: 0;
}

.grande {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.grande > img {
  width: 100%;
}

.image > img {
  width: 100%;
}

.boutton2ok {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraphe {
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.inside {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #d7d7d7;
  margin-top: 50px;
}

.forthose {
  margin: 140px;
  margin-top: 50px;
  margin-bottom: 65px;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  color: #4c4c4e;
  line-height: 40px;
  width: 80%;
}

.points {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.vide, .imagepoints, .jason {
  width: 33%;
}

.imagepoints {
  display: flex;
  justify-content: center;
}

.imagepoints > img {
  width: 43px;
  height: 10px;
}

.jason {
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #4c4c4e;
}

footer {
  display: flex;
  width: 100%;
}


footer > div {
  width: 20%;
  min-width: 359px;
  margin: 10px;
  margin-top: 95px;
}

h4 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 30px;
  color: #4c4c4e;
  margin-bottom: 47px;
}

.bloc1 > p {
  font-family: "Open Sans";
  margin-bottom: 37px;
}

.bloc1 > .title {
  font-size: 14px;
  margin-bottom: 0;
}

.bloc1 > .soustitle {
  font-size: 12px;
  color: #7e7e7e;
}

.bloc1 > .end {
  margin-bottom: 0;
}

.instapic {
  display: flex;
  flex-wrap: wrap;
}

.insta {
  width: 30%;
  padding: 5px;
}

.bloc3 > p {
  font-family: "Open Sans";
}

.bloc4 > p {
  font-family: "Open Sans";
}

.bloc3 > .title {
  font-size: 14px;
  margin-bottom: 0;
}

.bloc3 > .soustitle {
  font-size: 14px;
  color: #7e7e7e;
}

.bloc3 > .end {
  margin-bottom: 30px;
}

.bloc4 > p {
  font-size: 14px;
  color: #7e7e7e;
  margin-bottom: 50px;
}

.email {
  border: 2px solid black;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email > img {
  width: 20px;
  height: 16px;
  display: flex;
  margin: 20px;
}

.email > p {
  font-family: "Montserrat";
  font-weight: 700;
  margin: 20px;
}

.fin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 100px;
}

.logofin {
  display: flex;
}

.logofin > img {
  margin-top: 2px;
  margin-left: 10px;
}

.fin > p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}

.logofin > p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}
